/* #banner {
  background-color: #66795C;
  height: 300px;
  margin:-20px;
}

#banner .container {
  background: rgba(41,41,41,0.7);
  text-align: center;
  position: absolute;
  height: 300x;
  width:700px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#banner .container h1 {
  font-family:LexiaRegular, Georgia, serif;
  font-size: 48px;
  color: #fff;
  line-height: 1;
  padding: 1rem 0;

} */

.books-hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-image.png");*/
  background-image: url("wheels.jpg");
  height: 400px;
  
  /* Set a specific height */
 /* height: 100%;
  width: 100%;
  */
  /* remove margins*/
  margin-left:-60px;
  margin-top:-15px;
  margin-bottom:-15px;
  margin-right:-60px;
  
  /*opacity: 0.8;*/
  /*box-sizing: inherit;*/
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.books-hero-image .container {
  background: rgba(41,41,41,0.7);
  text-align: center;
  position: absolute;
  width:700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.books-hero-image .container p {
  font-family:EffraLight, Arial, Helvetica, sans-serif;
  padding: 1rem 0;
  font-size: 20px;
}

.books-hero-image  .container h1 {
  font-family:LexiaRegular, Georgia, serif;
  font-size: 48px;
  color: #fff;
  line-height: 1;
  padding: 1rem 0;
}



/**/
/*Overview*/
/**/

#overview .box{
  padding:0 40px;
}

#overview .content-wrap {
  padding: 40px;
}

#overview h1 {
  padding-bottom:50px;
}

#overview h2 {
  color:rgb(185, 80, 74);
  padding-bottom:10px;
}

/**/
/*Exuberance*/
/**/

#exuberance-title .content-wrap {
  padding: 40px 20px 20px 20px;
}

#exuberance-title h1 {
  padding-bottom: 20px;
}


.center {
  padding: 20px 20px 20px 0px;
}

#exuberance-title label {
  font-size:16px;
}

#exuberance-title .form-control, .selectize-input, 
.selectize-control.single .selectize-input { 
  height: 40px;
  padding: 12px 12px;
  font-size: 16px
}

#exuberance-title .regional {
  font-size: 16px;
}

#exuberance-title .regional h2 {
  padding-bottom: 10px;
}


#exuberance .content-wrap {
  padding: 20px;
}

#exuberance h2 {
  padding-bottom:20px;
  color:rgb(185, 80, 74);
  text-align:center;
}

/**/
/*Forecating section*/
/**/

#forecasting {
  
}

/**/
/*Uncertainty section*/
/**/

#Uncertainty {
  
}

/**/
/* Data and methodology section */
/**/

#methodology {
  padding: 4em 0;
}

#methodology h1 {
  text-align:center;
  padding: 0.5em 0;
}

/*Code section*/


#methodology-code {
  padding-top: 2em;
  border-top: 1px solid #d5dadf;
  padding-bottom: 2em;
  color: #333;
}

#methodology-code h2 {
  margin:0;
  padding-bottom:1em;
}

#methodology-code .col-sm-8 {
  padding-left:2em;
}


/*Literature section*/

#methdodology-literature {
  border-top: 1px solid #d5dadf;
  background: #fbfbfc;
  color: #333;
  padding-bottom: 2em;
}

#methdodology-literature h2 {
  text-align:center;
  padding: 0.5em 0  1em 0;
}

#methdodology-literature a {
  color:rgb(185, 80, 74);
}




